.jumbotron, .card-body, .container, .site-header{
    font-family: 'Raleway', serif !important;
}

.jumbotron .display-4{
    font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead{
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone{
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert{
  position: fixed;
  top:80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top:50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

/* clases index */
.mostrarUsuario {
  color: white;
  font-weight: bold;
}


/* clases página products*/
#contProductos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.eachProduct {
  box-shadow: 4px 3px 3px lightgrey;
}

.eachProduct:hover {
  cursor: pointer;
  box-shadow: 6px 4.5px 4.5px grey;
  transition: .3s;
}

/* clases página product-info*/
#addComment {
  resize: none;
}

div#starContainer:first-child {
  display: block;
}

.fa-star {
  cursor: pointer;
}

#starContainer {
  display: flex;
  flex-direction: row;
}

#numberRate {
  display: none;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  max-width: 300px;
  margin: auto;
  display: inline-block;
}

.card:hover {
  box-shadow: 0 12px 20px 0 rgba(0,0,0,0.2);
}

/* clases página login */

.login-body {
  background-color: #f4faf0;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  width: 500px;
  margin: 100px auto;
}

.white {
  color: #fff;
}

.title-special {
  font-size: 1em;
  font-family: 'Raleway', serif;
  font-weight: bold;
  color: #458cad;
}

.login-form-subtitle {
  align-self: center;
  font-size: 1.25em;
  margin-bottom: 30px;
  color: #fff;
}

.login-form-inputs {
  display: flex;
  flex-direction: column;
  width: min-content;
  margin: 0 auto 0 auto;
}

.login-form-send {
  align-self: center;
}

.login-form-send:hover {
  cursor: pointer;
  }

.unregistered {
  margin-top: 30px;
  color: #fff;
}

/* .login-img {
  background-image: url(../img/login.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  margin-top: -60px;
} */

/* clases pagina cart */
.small-img {
  height: 100px;
}

.OpcionesCompra {
  display: inline;
  border-top: 5px solid black;
}

.fa-plus-circle:hover {
  color: rgb(14, 201, 14);
}

.fa-minus-circle:hover {
  color: red;
}

.fa-times-circle-cart {
  color: red;
}

.clickable:hover {
  cursor: pointer;
}

.divsConfigCarrito {
  padding: .5%;
  background-color: #343A40;
  border-radius: .25rem;
}

.iconosCarrito {
  color: #fff;
}

/* Quitar flechas de input type:number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.small-text {
  font-size: 0.8em;
}

/* clases página my-profile */

.principal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.profile-container-border {
  border-radius: 1%;
}

.profile-container {
  background-color: #343A40;
  color: #fff;
}

.profile-container-header {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  padding: 1%;
}

.profile-container-header-userimage {
  height: 100px;
  border-radius: 50%;
  border: 1px solid rgb(43, 42, 42);
}

.profile-container-userdata {
  background-color: rgb(43, 42, 42);
}

.edicionMisDatos {
  height: 30%;
  text-align: center;
}

.tablaDatoUsuario {
  min-width: 100px;
}

/* clases visibilidad */

.invisible {
  display: none;
}

.visible {
  display: inline;
  font-size: 0.85em;
}

/* SweetAlert */
.confirmButtonSwal {
  background-color: #007BFF;
}
